In [4]:
import numpy as np
import pandas as pd
import os
import re
from typing import TextIO

In [66]:
def read_training_log(filename: str) -> dict:
    with open(filename, mode='r', encoding='utf-8') as log_file:
        log_lines = log_file.read().split('\n')
        description, device_info, epochs = log_lines[0], log_lines[1], log_lines[2:-1]
        
        model, batch_size, epoch_count, learning_rate = re.fullmatch(r'^Model: (.*?), Batch_size: (.*?), Epochs: (.*?), Learning Rate: (.*?)$', description).groups()
        batch_size, epoch_count = int(batch_size), int(epoch_count)
        learning_rate = float(learning_rate)
        device, = re.fullmatch(r'^Current device is (.*?)\.', device_info).groups()
        
        losses, accuracies = [], []
        for epoch in epochs:
            _, loss, accuracy = re.fullmatch(rf'^Epoch \[(.*?)/{epoch_count}\], Loss: (.*?), Accuracy: (.*?)%$', epoch).groups()
            losses.append(float(loss))
            accuracies.append(float(accuracy))
        
        best_epoch, best_accuracy = max(enumerate(accuracies), key=lambda x: x[1])
        best_epoch += 1  # fixes zero-indexing
        final_accuracy = accuracies[-1]
        
        return dict({'model': model, 'batch_size': batch_size, 'epochs': epoch_count, 'learning_rate': learning_rate, 'device': device, 'losses': losses, 'accuracy': accuracies, 'best_epoch': best_epoch, 'best_accuracy': best_accuracy, 'final_accuracy': final_accuracy})

In [53]:
read_training_log('C:/PycharmProjects/revamped/ai-programming/log2/250411-101655.log')

{'model': 'cnn',
 'batch_size': 8,
 'epochs': 40,
 'learning_rate': 3e-05,
 'device': 'cuda',
 'losses': [1.7643,
  1.5092,
  1.4144,
  1.3491,
  1.2937,
  1.2415,
  1.2344,
  1.2278,
  1.2248,
  1.2177,
  1.2106,
  1.2108,
  1.2098,
  1.211,
  1.214,
  1.2125,
  1.2084,
  1.2102,
  1.2108,
  1.209,
  1.2065,
  1.2073,
  1.2122,
  1.2061,
  1.2102,
  1.2059,
  1.2063,
  1.2123,
  1.2071,
  1.2116,
  1.2096,
  1.2091,
  1.2105,
  1.2098,
  1.2116,
  1.2071,
  1.2088,
  1.2101,
  1.209,
  1.2122],
 'accuracy': [46.05,
  50.42,
  53.93,
  57.21,
  57.84,
  59.72,
  59.7,
  60.13,
  60.45,
  60.24,
  60.49,
  60.6,
  60.72,
  60.63,
  60.69,
  60.68,
  60.73,
  60.75,
  60.74,
  60.76,
  60.75,
  60.75,
  60.75,
  60.74,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73,
  60.73],
 'best_epoch': 20,
 'best_accuracy': 60.76}

Experiment 1

In [72]:
log_path = 'C:/PycharmProjects/revamped/ai-programming/log'

logs_df = pd.DataFrame(columns=['model', 'batch_size', 'epochs', 'learning_rate', 'device', 'best_epoch', 'best_accuracy', 'final_accuracy', 'losses', 'accuracy'])

for logfile_name in os.listdir(log_path):
    logs_df.loc[len(logs_df)] = pd.Series(read_training_log(os.path.join(log_path, logfile_name)))

logs_df.query('model == \'cnn\'')

,model,batch_size,epochs,learning_rate,device,best_epoch,best_accuracy,final_accuracy,losses,accuracy
0,cnn,16,5,0.0001,cuda,5,66.22,66.22,"[1.6467, 1.4012, 1.2711, 1.1815, 1.1187]","[49.29, 55.25, 60.53, 63.58, 66.22]"
1,cnn,16,5,0.001,cuda,5,66.48,66.48,"[1.504, 1.1934, 1.0893, 1.0292, 0.9826]","[56.64, 64.84, 65.22, 65.6, 66.48]"
2,cnn,16,5,0.01,cuda,5,23.25,23.25,"[2.3096, 2.3383, 2.3126, 2.315, 2.2814]","[10.0, 10.0, 10.01, 10.0, 23.25]"
3,cnn,16,5,0.1,cuda,1,10.0,10.0,"[6.192, 2.4063, 88.2375, 523.6257, 3329.7394]","[10.0, 10.0, 10.0, 10.0, 10.0]"
4,cnn,16,10,0.0001,cuda,10,67.52,67.52,"[1.6438, 1.3855, 1.2674, 1.1842, 1.1244, 1.056...","[51.06, 56.91, 60.94, 63.8, 65.93, 66.51, 66.7..."
...,...,...,...,...,...,...,...,...,...,...
59,cnn,128,20,0.1,cuda,1,10.0,10.0,"[24.8598, 2.307, 2.3078, 2.3082, 2.5967, 2.303...","[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10...."
60,cnn,128,40,0.0001,cuda,18,58.07,58.07,"[1.837, 1.565, 1.4684, 1.4025, 1.3544, 1.3077,...","[43.13, 47.65, 52.76, 55.07, 56.37, 57.05, 57...."
61,cnn,128,40,0.001,cuda,11,74.34,74.31,"[1.5255, 1.2007, 1.0684, 0.9906, 0.923, 0.8262...","[59.13, 63.16, 67.96, 69.34, 71.27, 72.96, 73...."
62,cnn,128,40,0.01,cuda,1,10.0,10.0,"[2.3278, 2.3032, 2.3033, 2.3034, 2.3034, 2.302...","[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10...."
63,cnn,128,40,0.1,cuda,1,10.0,10.0,"[27.5594, 2.3077, 2.3078, 32.218, 2.307, 2.303...","[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10...."

In [74]:
logs_df.groupby(['batch_size']).agg({'best_accuracy': ['mean', 'std']}).reset_index()

  batch_size best_accuracy
                      mean        std
0         16      43.31125  22.888237
1         32     40.218437  23.276494
2         64     41.363529  28.144070
3        128     39.499375  28.000216

In [75]:
logs_df.groupby(['epochs']).agg({'best_accuracy': ['mean', 'std']}).reset_index()

  epochs best_accuracy
                  mean        std
0      5        34.408  24.897286
1     10     40.424167  25.771418
2     20         46.64  22.473082
3     40     44.099167  24.531294

In [76]:
logs_df.groupby(['learning_rate']).agg({'best_accuracy': ['mean', 'std']}).reset_index()

  learning_rate best_accuracy
                         mean        std
0        0.0001       57.6272   7.264783
1        0.0010     62.702917  15.361688
2        0.0100     27.486667  19.355145
3        0.1000     16.787083  15.768022

Experiment 2

In [81]:
log_path = 'C:/PycharmProjects/revamped/ai-programming/log2'

logs_df = pd.DataFrame(columns=['model', 'batch_size', 'epochs', 'learning_rate', 'device', 'best_epoch', 'best_accuracy', 'final_accuracy', 'losses', 'accuracy'])

for logfile_name in os.listdir(log_path):
    logs_df.loc[len(logs_df)] = pd.Series(read_training_log(os.path.join(log_path, logfile_name)))

logs_df.query('epochs == 20')

,model,batch_size,epochs,learning_rate,device,best_epoch,best_accuracy,final_accuracy,losses,accuracy
3,cnn,8,20,0.00003,cuda,12,61.35,61.15,"[1.769, 1.5146, 1.4161, 1.3445, 1.2904, 1.2351...","[45.77, 50.37, 53.33, 55.65, 58.44, 59.92, 60...."
4,cnn,8,20,0.0001,cuda,16,69.54,69.45,"[1.6306, 1.3442, 1.2079, 1.1205, 1.0648, 0.986...","[52.98, 60.03, 62.68, 63.9, 66.14, 68.68, 68.6..."
5,cnn,8,20,0.0003,cuda,17,75.77,75.7,"[1.4824, 1.1542, 1.0367, 0.9536, 0.9015, 0.796...","[59.27, 63.56, 66.9, 69.77, 72.49, 74.29, 74.3..."
6,cnn,8,20,0.001,cuda,14,73.44,73.21,"[1.5066, 1.2262, 1.1395, 1.08, 1.0318, 0.897, ...","[55.43, 61.41, 65.07, 65.68, 67.09, 71.22, 71...."
7,cnn,8,20,0.003,cuda,18,67.4,67.28,"[2.2996, 1.9138, 1.7001, 1.6033, 1.5492, 1.403...","[15.33, 31.21, 40.62, 42.97, 47.35, 52.26, 56...."
8,cnn,16,20,0.00003,cuda,17,56.13,56.11,"[1.8283, 1.5868, 1.4852, 1.426, 1.386, 1.3355,...","[40.87, 47.41, 51.03, 53.17, 54.68, 55.05, 55...."
9,cnn,16,20,0.0001,cuda,16,67.7,67.57,"[1.6397, 1.3634, 1.2503, 1.1741, 1.1149, 1.044...","[53.24, 57.36, 60.88, 63.56, 65.7, 66.48, 66.9..."
10,cnn,16,20,0.0003,cuda,12,74.13,74.05,"[1.4999, 1.1756, 1.0529, 0.9801, 0.9261, 0.824...","[58.34, 65.25, 66.17, 69.38, 70.27, 73.02, 73...."
11,cnn,16,20,0.001,cuda,20,75.18,75.18,"[1.4705, 1.1686, 1.0635, 0.9935, 0.9613, 0.833...","[58.65, 64.6, 65.67, 68.56, 70.48, 73.08, 73.7..."
12,cnn,16,20,0.003,cuda,18,67.49,67.49,"[2.0459, 1.7528, 1.5899, 1.4962, 1.4129, 1.251...","[29.07, 42.47, 46.27, 48.66, 53.21, 58.95, 59...."
13,cnn,32,20,0.00003,cuda,16,55.0,54.98,"[1.879, 1.6247, 1.5192, 1.4604, 1.4165, 1.3805...","[39.68, 46.37, 49.31, 52.73, 54.06, 54.29, 54...."
14,cnn,32,20,0.0001,cuda,14,64.31,64.25,"[1.7174, 1.4538, 1.3573, 1.2801, 1.2138, 1.159...","[49.96, 54.86, 58.46, 60.67, 60.83, 63.11, 63...."
15,cnn,32,20,0.0003,cuda,18,71.74,71.71,"[1.5595, 1.2622, 1.1356, 1.0623, 1.0016, 0.921...","[55.42, 61.83, 63.44, 67.57, 67.72, 70.4, 70.2..."
16,cnn,32,20,0.001,cuda,15,76.2,76.15,"[1.4699, 1.142, 1.023, 0.9509, 0.8944, 0.7822,...","[56.5, 65.62, 68.82, 70.12, 71.71, 74.8, 75.13..."
17,cnn,32,20,0.003,cuda,14,68.22,68.21,"[1.6491, 1.4317, 1.3483, 1.2837, 1.2376, 1.078...","[47.98, 54.08, 56.61, 59.0, 61.83, 64.55, 65.3..."
18,cnn,64,20,0.00003,cuda,15,51.32,51.3,"[1.9149, 1.6781, 1.5892, 1.5279, 1.4869, 1.454...","[40.5, 44.66, 47.05, 48.8, 49.93, 50.35, 50.77..."
19,cnn,64,20,0.0001,cuda,10,62.11,61.99,"[1.7693, 1.4974, 1.4013, 1.3314, 1.2722, 1.214...","[46.57, 51.38, 55.51, 57.52, 60.68, 61.28, 61...."
20,cnn,64,20,0.0003,cuda,13,69.67,69.64,"[1.6302, 1.353, 1.2134, 1.1219, 1.0587, 0.9913...","[53.18, 58.83, 63.18, 65.69, 67.2, 68.29, 68.5..."
21,cnn,64,20,0.001,cuda,20,73.47,73.47,"[1.5335, 1.2119, 1.0932, 1.0124, 0.9565, 0.857...","[57.43, 63.77, 67.0, 67.46, 69.06, 71.57, 71.6..."
22,cnn,64,20,0.003,cuda,19,68.52,68.51,"[1.5837, 1.3269, 1.2307, 1.184, 1.1423, 1.0263...","[54.07, 56.06, 59.69, 60.72, 61.34, 66.36, 66...."
23,cnn2,8,20,0.00003,cuda,14,57.92,57.87,"[1.7867, 1.5479, 1.4655, 1.4066, 1.3575, 1.313...","[44.6, 49.78, 52.1, 54.9, 56.15, 57.19, 57.15,..."
24,cnn2,8,20,0.0001,cuda,15,67.72,67.51,"[1.6319, 1.3875, 1.2765, 1.1962, 1.1307, 1.056...","[51.69, 57.14, 59.51, 61.87, 65.36, 66.24, 66...."
25,cnn2,8,20,0.0003,cuda,12,73.42,73.31,"[1.5301, 1.2228, 1.0978, 1.0233, 0.9656, 0.870...","[57.61, 63.58, 67.94, 67.65, 70.54, 71.57, 72...."
26,cnn2,8,20,0.001,cuda,18,75.18,75.17,"[1.4583, 1.1536, 1.0572, 0.9996, 0.9595, 0.830...","[59.59, 64.97, 67.77, 68.01, 69.36, 72.71, 73...."
27,cnn2,8,20,0.003,cuda,19,71.51,71.44,"[1.6855, 1.4342, 1.3605, 1.3166, 1.2868, 1.112...","[49.53, 54.02, 57.48, 56.78, 58.65, 64.38, 65...."
28,cnn2,16,20,0.00003,cuda,18,56.93,56.88,"[1.8477, 1.5998, 1.5016, 1.4378, 1.3895, 1.350...","[43.72, 49.08, 51.78, 52.95, 54.12, 56.12, 56...."
29,cnn2,16,20,0.0001,cuda,20,63.67,63.67,"[1.7055, 1.4459, 1.3401, 1.2663, 1.2067, 1.139...","[48.36, 53.59, 57.01, 59.02, 61.17, 62.22, 62...."
30,cnn2,16,20,0.0003,cuda,15,71.32,71.29,"[1.5818, 1.2921, 1.1634, 1.0901, 1.024, 0.9413...","[54.04, 58.7, 65.25, 66.13, 68.28, 70.36, 70.3..."
31,cnn2,16,20,0.001,cuda,11,73.95,73.85,"[1.4792, 1.1821, 1.0716, 1.0077, 0.9632, 0.846...","[59.21, 64.04, 65.08, 64.64, 69.01, 72.44, 72...."
32,cnn2,16,20,0.003,cuda,19,70.54,70.53,"[1.6471, 1.412, 1.3117, 1.2541, 1.2162, 1.0453...","[49.62, 52.98, 57.1, 59.96, 60.03, 66.2, 67.74..."
33,cnn2,32,20,0.00003,cuda,18,53.03,53.02,"[1.9192, 1.6623, 1.5704, 1.5144, 1.4692, 1.434...","[38.19, 43.87, 47.5, 49.17, 52.06, 52.0, 52.33..."
34,cnn2,32,20,0.0001,cuda,11,61.48,61.32,"[1.7473, 1.4846, 1.3804, 1.3097, 1.2513, 1.190...","[47.81, 53.16, 54.9, 55.87, 59.9, 60.46, 60.71..."
35,cnn2,32,20,0.0003,cuda,12,70.08,69.9,"[1.5925, 1.327, 1.1947, 1.1073, 1.0501, 0.968,...","[52.68, 60.2, 62.33, 66.12, 67.22, 68.81, 69.0..."
36,cnn2,32,20,0.001,cuda,14,74.53,74.48,"[1.4692, 1.1469, 1.0338, 0.9712, 0.9202, 0.814...","[60.15, 65.91, 68.92, 70.92, 70.51, 72.55, 73...."
37,cnn2,32,20,0.003,cuda,19,70.99,70.95,"[1.5352, 1.28, 1.1992, 1.1518, 1.122, 0.9791, ...","[51.67, 58.35, 58.51, 62.8, 61.27, 68.23, 69.0..."
38,cnn2,64,20,0.00003,cuda,14,51.06,51.02,"[1.9544, 1.6879, 1.5978, 1.5462, 1.5024, 1.471...","[40.7, 44.12, 47.18, 48.88, 50.35, 50.58, 50.3..."
39,cnn2,64,20,0.0001,cuda,12,57.84,57.83,"[1.8224, 1.5521, 1.473, 1.4128, 1.3626, 1.3145...","[45.15, 49.28, 52.41, 54.07, 56.24, 57.02, 57...."
40,cnn2,64,20,0.0003,cuda,12,68.39,68.35,"[1.6617, 1.3876, 1.2664, 1.1819, 1.1222, 1.052...","[49.43, 58.51, 62.44, 64.35, 65.28, 66.82, 67...."
41,cnn2,64,20,0.001,cuda,14,73.6,73.58,"[1.5308, 1.2122, 1.0946, 1.0138, 0.9588, 0.855...","[55.48, 60.76, 67.29, 67.62, 69.55, 72.48, 72...."
42,cnn2,64,20,0.003,cuda,13,71.86,71.8,"[1.6086, 1.2989, 1.1756, 1.0897, 1.0524, 0.928...","[52.24, 57.4, 64.03, 64.69, 65.26, 69.54, 70.2..."
43,fcnn,8,20,0.00003,cuda,20,50.17,50.17,"[1.8567, 1.6846, 1.6026, 1.5531, 1.5206, 1.448...","[38.59, 43.33, 45.55, 44.58, 45.44, 48.72, 48...."
44,fcnn,8,20,0.0001,cuda,19,50.59,50.59,"[1.8517, 1.6913, 1.6206, 1.5766, 1.5455, 1.456...","[39.9, 42.45, 45.15, 44.96, 45.52, 49.34, 50.2..."
45,fcnn,8,20,0.0003,cuda,16,48.54,48.52,"[1.9286, 1.7998, 1.7457, 1.716, 1.6989, 1.5846...","[34.49, 37.34, 40.56, 39.27, 39.35, 45.66, 46...."
46,fcnn,8,20,0.001,cuda,19,47.3,47.2,"[2.1158, 2.0766, 2.067, 2.0692, 2.0598, 1.9459...","[23.74, 22.52, 23.61, 22.97, 23.12, 28.95, 35...."
47,fcnn,8,20,0.003,cuda,20,47.87,47.87,"[2.3169, 2.3379, 2.3274, 2.3605, 2.3325, 2.303...","[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 30.58, 35..."
48,fcnn,16,20,0.00003,cuda,15,49.64,49.63,"[1.8803, 1.697, 1.6181, 1.5661, 1.5283, 1.4716...","[39.78, 43.44, 44.74, 46.56, 46.92, 48.41, 48...."
49,fcnn,16,20,0.0001,cuda,12,50.45,50.44,"[1.8502, 1.6781, 1.6043, 1.5592, 1.5286, 1.445...","[40.47, 42.71, 44.15, 43.79, 46.07, 49.3, 49.4..."
50,fcnn,16,20,0.0003,cuda,17,50.12,50.05,"[1.8976, 1.7476, 1.69, 1.658, 1.6287, 1.5281, ...","[36.88, 40.65, 40.68, 41.5, 42.38, 47.21, 47.9..."
51,fcnn,16,20,0.001,cuda,19,45.16,45.11,"[2.0469, 1.9881, 1.9747, 1.9614, 1.958, 1.8366...","[26.77, 29.78, 28.86, 28.09, 28.9, 36.54, 38.3..."
52,fcnn,16,20,0.003,cuda,19,46.89,46.69,"[2.3198, 2.3219, 2.3081, 2.325, 2.3069, 2.3028...","[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 17.67, 30..."
53,fcnn,32,20,0.00003,cuda,19,47.96,47.92,"[1.9095, 1.7143, 1.6381, 1.5843, 1.548, 1.4952...","[39.27, 42.59, 43.5, 45.56, 45.58, 47.28, 47.1..."
54,fcnn,32,20,0.0001,cuda,15,50.73,50.68,"[1.8549, 1.6783, 1.5984, 1.5472, 1.5171, 1.440...","[39.01, 43.28, 45.13, 45.01, 47.15, 49.17, 49...."
55,fcnn,32,20,0.0003,cuda,20,50.24,50.24,"[1.8798, 1.7223, 1.6547, 1.6131, 1.5883, 1.495...","[36.46, 40.03, 43.46, 42.88, 44.77, 47.77, 48...."
56,fcnn,32,20,0.001,cuda,20,45.86,45.86,"[1.988, 1.9016, 1.8689, 1.8484, 1.8368, 1.7078...","[32.28, 31.26, 29.13, 36.45, 34.61, 41.96, 43...."
57,fcnn,32,20,0.003,cuda,20,46.47,46.47,"[2.2267, 2.23, 2.2504, 2.2695, 2.3042, 2.2534,...","[14.46, 16.55, 15.43, 10.0, 10.0, 22.08, 29.42..."
58,fcnn,64,20,0.00003,cuda,10,46.67,46.63,"[1.9486, 1.74, 1.6607, 1.6092, 1.5685, 1.5298,...","[38.22, 41.09, 43.22, 44.09, 45.51, 45.73, 45...."
59,fcnn,64,20,0.0001,cuda,14,50.11,50.06,"[1.8666, 1.6851, 1.6087, 1.5563, 1.5135, 1.453...","[40.38, 43.36, 44.88, 46.72, 47.78, 48.84, 49...."
60,fcnn,64,20,0.0003,cuda,15,50.6,50.58,"[1.8641, 1.6997, 1.6313, 1.5828, 1.5486, 1.464...","[38.8, 43.15, 43.33, 45.87, 45.95, 48.56, 49.0..."
61,fcnn,64,20,0.001,cuda,19,47.33,47.33,"[1.937, 1.8327, 1.7868, 1.7677, 1.7415, 1.6338...","[35.15, 34.8, 32.79, 37.74, 38.27, 42.89, 44.3..."
62,fcnn,64,20,0.003,cuda,20,41.98,41.98,"[2.1077, 2.0883, 2.0937, 2.0695, 2.0922, 1.989...","[23.03, 21.19, 21.19, 21.94, 23.03, 27.5, 29.0..."

In [82]:
logs_df.groupby(['model']).agg({'best_accuracy': ['mean', 'std']}).reset_index()

  model best_accuracy
                 mean       std
0   cnn     67.591739  7.039065
1  cnn2        66.751  7.667510
2  fcnn        48.234  2.324554

In [83]:
logs_df.groupby(['batch_size']).agg({'best_accuracy': ['mean', 'std']}).reset_index()

  batch_size best_accuracy
                      mean        std
0          8     63.535556  10.636570
1         16     61.286667  10.956401
2         32        60.456  11.025051
3         64     58.968667  11.151845

In [84]:
logs_df.groupby(['learning_rate']).agg({'best_accuracy': ['mean', 'std']}).reset_index()

  learning_rate best_accuracy
                         mean        std
0       0.00003     53.687692   4.731070
1       0.00010     60.421538   7.635616
2       0.00030     65.380769  10.991919
3       0.00100          65.1  13.836470
4       0.00300        61.645  11.871847